h1 {
  text-align: center;
}
div {
  text-align: center;
  display: flex;
  gap: 10px;
  justify-content: center;
  padding: 24px;
}
#more, #less {
  border: none;
  box-shadow: 4px 4px 4px;
  border-radius: 5px;
  width: 100px;
}
#more:hover, #less:hover {
  background-color: #c0c0c0;
  cursor: pointer;
}