html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #f0f0f0;
  font-size: 18px;
}
h1 {
  text-align: center;
  color: #7365de;
  text-shadow: 5px 5px 5px;
  margin: 1em auto 2em;
}
.container {
  text-align: center;
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
  text-align: justify;
  justify-content: space-between;
  flex-direction: row;
  margin: 3em auto;
  padding: 1em;
  width: 90%;
  box-shadow: 5px 5px 5px #cfcfcf;
  background-color: #c0c0c0;
}
label {
  color: #000080;
}
input {
  display: block;
  margin: 0.5em auto;
  padding: 0.4em;
  text-indent: 10px;
  box-shadow: 4px 4px 5px #c0c0c0;
  border: none;
  border-radius: 0.4em;
}
button {
  display: block;
  width: 160px;
  cursor: pointer;
  padding: 10px;
  border: none;
  margin: 4em auto;
  font-weight: bold;
  color: #000080;
  background-color: #7365de;
  border-radius: 0.4em;
}
button:hover {
  color: #fff;
  background-color: #663399;
  font-weight: bold;
}
hr {
  border-style: solid;
  border-width: 2px;
  border-color: #7365de;
}
.view-results {
  width: 50%;
  margin: 1em auto;
  padding: 1em;
  background-color: #c0c0c0;
  box-shadow: 4px 4px 5px #c0c0c0;
}
.view-results li {
  text-align: center;
  color: #000080;
  list-style-type: none;
}

@media screen and (max-width: 425px) {
  .container {
    justify-content: center;
  }
  .view-results {
    width: 80%;
  }
}
