html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 18px;
}
h1 {
  color: #7365de;
  text-shadow: 5px 5px 5px;
}
.container {
  text-align: center;
  margin: 3em auto;
  padding: 1em;
  border: solid #7365de;
  width: 80%;
  background-color: #c0c0c0;
  border-radius: .5em;
}
input {
  display: block;
  margin: 0.4em auto;
  padding: 0.5em;
  box-shadow: 4px 4px 5px #c0c0c0;
  border: none;
  border-radius: .4em;
}
button {
  width: 160px;
  cursor: pointer;
  padding: 10px;
  border: none;
  margin: 4em auto;
  font-weight: bold;
  background-color: #7365de;
  border-radius: .4em;
}
button:hover {
  color: #fff;
  background-color: rebeccapurple;
  font-weight: bold;
}
hr {
  border-color: #7365de;
}
.show p {
  text-align: justify;
  
}
